language: generic
env:
  global:
    #- RAKUDO_URL="https://rakudo.perl6.org/downloads/prerelease/rakudo-prerelease.tar.gz"
    - RAKUDO_URL="https://rakudo.perl6.org/downloads/rakudo/rakudo-2018.03.tar.gz"
    - LOCAL_BUILD="1"
  matrix:
    - TAG="alpine-x86_64-3.6"
    - TAG="alpine-x86_64-3.7"
    - TAG="centos-x86_64-7"
    - TAG="debian-amd64-8"
    - TAG="debian-amd64-9"
    - TAG="fedora-x86_64-26"
    - TAG="fedora-x86_64-27"
    - TAG="opensuse-x86_64-42.3"
    - TAG="ubuntu-amd64-14.04"
    - TAG="ubuntu-amd64-16.04"
    - TAG="ubuntu-amd64-17.10"
    #- TAG="ubuntu-amd64-18.04"
    - TAG="ubuntu-i386-16.04"
    - TAG="ubuntu-i386-17.10"
    #- TAG="ubuntu-i386-18.04"
sudo: required
services:
  - docker
install:
  - set -e
  - if [ -z "$LOCAL_BUILD" ]; then docker pull nxadm/rakudo-pkg-canary:$TAG; else docker build -f docker/Dockerfile-$TAG -t nxadm/rakudo-pkg-canary:$TAG docker; fi
script:
  - docker run -ti -e RAKUDO_URL=$RAKUDO_URL nxadm/rakudo-pkg-canary:$TAG
